Project/Transport/Transport.Tests/bin/Debug/ru/Microsoft.VisualStudio.QualityTools.UnitTestFramework.resources.dll
Project/Transport/Transport.Tests/bin/Debug/roslyn/vbc.rsp
Project/Transport/Transport.Tests/bin/Debug/roslyn/vbc.exe.config
Project/Transport/Transport.Tests/bin/Debug/roslyn/vbc.exe
Project/Transport/Transport.Tests/bin/Debug/roslyn/csi.rsp
Project/Transport/Transport.Tests/bin/Debug/roslyn/csi.exe
Project/Transport/Transport.Tests/bin/Debug/roslyn/csc.rsp
Project/Transport/Transport.Tests/bin/Debug/roslyn/csc.exe.config
Project/Transport/Transport.Tests/bin/Debug/roslyn/csc.exe
Project/Transport/Transport.Tests/bin/Debug/roslyn/VBCSCompiler.exe.config
Project/Transport/Transport.Tests/bin/Debug/roslyn/VBCSCompiler.exe
Project/Transport/Transport.Tests/bin/Debug/roslyn/System.Reflection.Metadata.dll
Project/Transport/Transport.Tests/bin/Debug/roslyn/System.IO.FileSystem.dll
Project/Transport/Transport.Tests/bin/Debug/roslyn/System.IO.FileSystem.Primitives.dll
Project/Transport/Transport.Tests/bin/Debug/roslyn/System.Diagnostics.StackTrace.dll
Project/Transport/Transport.Tests/bin/Debug/roslyn/System.Collections.Immutable.dll
Project/Transport/Transport.Tests/bin/Debug/roslyn/System.AppContext.dll
Project/Transport/Transport.Tests/bin/Debug/roslyn/Microsoft.VisualBasic.Core.targets
Project/Transport/Transport.Tests/bin/Debug/roslyn/Microsoft.DiaSymReader.Native.x86.dll
Project/Transport/Transport.Tests/bin/Debug/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
Project/Transport/Transport.Tests/bin/Debug/roslyn/Microsoft.CodeAnalysis.dll
Project/Transport/Transport.Tests/bin/Debug/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
Project/Transport/Transport.Tests/bin/Debug/roslyn/Microsoft.CodeAnalysis.Scripting.dll
Project/Transport/Transport.Tests/bin/Debug/roslyn/Microsoft.CodeAnalysis.CSharp.dll
Project/Transport/Transport.Tests/bin/Debug/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
Project/Transport/Transport.Tests/bin/Debug/roslyn/Microsoft.CSharp.Core.targets
Project/Transport/Transport.Tests/bin/Debug/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
Project/Transport/Transport.Tests/bin/Debug/Transport.pdb
Project/Transport/Transport.Tests/bin/Debug/Transport.dll.config
Project/Transport/Transport.Tests/bin/Debug/Transport.dll
Project/Transport/Transport.Tests/bin/Debug/Transport.Tests.pdb
Project/Transport/Transport.Tests/bin/Debug/Transport.Tests.dll.config
Project/Transport/Transport.Tests/bin/Debug/Transport.Tests.dll
Project/Transport/Transport.Tests/bin/Debug/System.Web.WebPages.xml
Project/Transport/Transport.Tests/bin/Debug/System.Web.WebPages.dll
Project/Transport/Transport.Tests/bin/Debug/System.Web.WebPages.Razor.xml
Project/Transport/Transport.Tests/bin/Debug/System.Web.WebPages.Razor.dll
Project/Transport/Transport.Tests/bin/Debug/System.Web.WebPages.Deployment.xml
Project/Transport/Transport.Tests/bin/Debug/System.Web.WebPages.Deployment.dll
Project/Transport/Transport.Tests/bin/Debug/System.Web.Razor.xml
Project/Transport/Transport.Tests/bin/Debug/System.Web.Razor.dll
Project/Transport/Transport.Tests/bin/Debug/System.Web.Optimization.xml
Project/Transport/Transport.Tests/bin/Debug/System.Web.Optimization.dll
Project/Transport/Transport.Tests/bin/Debug/System.Web.Mvc.xml
Project/Transport/Transport.Tests/bin/Debug/System.Web.Mvc.dll
Project/Transport/Transport.Tests/bin/Debug/System.Web.Helpers.xml
Project/Transport/Transport.Tests/bin/Debug/System.Web.Helpers.dll
Project/Transport/Transport.Tests/bin/Debug/Owin.dll
Project/Transport/Transport.Tests/bin/Debug/Newtonsoft.Json.xml
Project/Transport/Transport.Tests/bin/Debug/Newtonsoft.Json.dll
Project/Transport/Transport.Tests/bin/Debug/Microsoft.Web.Infrastructure.dll
Project/Transport/Transport.Tests/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
Project/Transport/Transport.Tests/bin/Debug/Microsoft.Owin.xml
Project/Transport/Transport.Tests/bin/Debug/Microsoft.Owin.dll
Project/Transport/Transport.Tests/bin/Debug/Microsoft.Owin.Security.xml
Project/Transport/Transport.Tests/bin/Debug/Microsoft.Owin.Security.dll
Project/Transport/Transport.Tests/bin/Debug/Microsoft.Owin.Security.Cookies.xml
Project/Transport/Transport.Tests/bin/Debug/Microsoft.Owin.Security.Cookies.dll
Project/Transport/Transport.Tests/bin/Debug/Microsoft.Owin.Host.SystemWeb.xml
Project/Transport/Transport.Tests/bin/Debug/Microsoft.Owin.Host.SystemWeb.dll
Project/Transport/Transport.Tests/bin/Debug/Microsoft.AspNet.Identity.Owin.xml
Project/Transport/Transport.Tests/bin/Debug/Microsoft.AspNet.Identity.Owin.dll
Project/Transport/Transport.Tests/bin/Debug/Microsoft.AspNet.Identity.EntityFramework.xml
Project/Transport/Transport.Tests/bin/Debug/Microsoft.AspNet.Identity.EntityFramework.dll
Project/Transport/Transport.Tests/bin/Debug/Microsoft.AspNet.Identity.Core.xml
Project/Transport/Transport.Tests/bin/Debug/Microsoft.AspNet.Identity.Core.dll
Project/Transport/Transport.Tests/bin/Debug/EntityFramework.xml
Project/Transport/Transport.Tests/bin/Debug/EntityFramework.dll
Project/Transport/Transport.Tests/bin/Debug/ApplicationInsights.config
Project/Transport/Transport/obj/Debug/Transport.pdb
Project/Transport/Transport/obj/Debug/Transport.dll
Project/Transport/Transport/obj/Debug/Transport.csprojResolveAssemblyReference.cache
Project/Transport/Transport/obj/Debug/Transport.csproj.FileListAbsolute.txt
Project/Transport/Transport/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Project/Transport/Transport/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Project/Transport/Transport/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Project/Transport/Transport/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Project/Transport/Transport/obj/Debug/CoreCompileInputs.cache
Project/Transport/Transport/fonts/glyphicons-halflings-regular.woff
Project/Transport/Transport/fonts/glyphicons-halflings-regular.ttf
Project/Transport/Transport/fonts/glyphicons-halflings-regular.svg
Project/Transport/Transport/fonts/glyphicons-halflings-regular.eot
Project/Transport/Transport/bin/roslyn/vbc.rsp
Project/Transport/Transport/bin/roslyn/vbc.exe.config
Project/Transport/Transport/bin/roslyn/vbc.exe
Project/Transport/Transport/bin/roslyn/csi.rsp
Project/Transport/Transport/bin/roslyn/csi.exe
Project/Transport/Transport/bin/roslyn/csc.rsp
Project/Transport/Transport/bin/roslyn/csc.exe.config
Project/Transport/Transport/bin/roslyn/csc.exe
Project/Transport/Transport/bin/roslyn/VBCSCompiler.exe.config
Project/Transport/Transport/bin/roslyn/VBCSCompiler.exe
Project/Transport/Transport/bin/roslyn/System.Reflection.Metadata.dll
Project/Transport/Transport/bin/roslyn/System.IO.FileSystem.dll
Project/Transport/Transport/bin/roslyn/System.IO.FileSystem.Primitives.dll
Project/Transport/Transport/bin/roslyn/System.Diagnostics.StackTrace.dll
Project/Transport/Transport/bin/roslyn/System.Collections.Immutable.dll
Project/Transport/Transport/bin/roslyn/System.AppContext.dll
Project/Transport/Transport/bin/roslyn/Microsoft.VisualBasic.Core.targets
Project/Transport/Transport/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
Project/Transport/Transport/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
Project/Transport/Transport/bin/roslyn/Microsoft.CodeAnalysis.dll
Project/Transport/Transport/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
Project/Transport/Transport/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
Project/Transport/Transport/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
Project/Transport/Transport/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
Project/Transport/Transport/bin/roslyn/Microsoft.CSharp.Core.targets
Project/Transport/Transport/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
Project/Transport/Transport/bin/WebGrease.dll
Project/Transport/Transport/bin/Transport.pdb
Project/Transport/Transport/bin/Transport.dll.config
Project/Transport/Transport/bin/Transport.dll
Project/Transport/Transport/bin/System.Web.WebPages.xml
Project/Transport/Transport/bin/System.Web.WebPages.dll
Project/Transport/Transport/bin/System.Web.WebPages.Razor.xml
Project/Transport/Transport/bin/System.Web.WebPages.Razor.dll
Project/Transport/Transport/bin/System.Web.WebPages.Deployment.xml
Project/Transport/Transport/bin/System.Web.WebPages.Deployment.dll
Project/Transport/Transport/bin/System.Web.Razor.xml
Project/Transport/Transport/bin/System.Web.Razor.dll
Project/Transport/Transport/bin/System.Web.Optimization.xml
Project/Transport/Transport/bin/System.Web.Optimization.dll
Project/Transport/Transport/bin/System.Web.Mvc.xml
Project/Transport/Transport/bin/System.Web.Mvc.dll
Project/Transport/Transport/bin/System.Web.Helpers.xml
Project/Transport/Transport/bin/System.Web.Helpers.dll
Project/Transport/Transport/bin/Owin.dll
Project/Transport/Transport/bin/Newtonsoft.Json.xml
Project/Transport/Transport/bin/Newtonsoft.Json.dll
Project/Transport/Transport/bin/Microsoft.Web.Infrastructure.dll
Project/Transport/Transport/bin/Microsoft.Owin.xml
Project/Transport/Transport/bin/Microsoft.Owin.dll
Project/Transport/Transport/bin/Microsoft.Owin.Security.xml
Project/Transport/Transport/bin/Microsoft.Owin.Security.dll
Project/Transport/Transport/bin/Microsoft.Owin.Security.Twitter.xml
Project/Transport/Transport/bin/Microsoft.Owin.Security.Twitter.dll
Project/Transport/Transport/bin/Microsoft.Owin.Security.OAuth.xml
Project/Transport/Transport/bin/Microsoft.Owin.Security.OAuth.dll
Project/Transport/Transport/bin/Microsoft.Owin.Security.MicrosoftAccount.xml
Project/Transport/Transport/bin/Microsoft.Owin.Security.MicrosoftAccount.dll
Project/Transport/Transport/bin/Microsoft.Owin.Security.Google.xml
Project/Transport/Transport/bin/Microsoft.Owin.Security.Google.dll
Project/Transport/Transport/bin/Microsoft.Owin.Security.Facebook.xml
Project/Transport/Transport/bin/Microsoft.Owin.Security.Facebook.dll
Project/Transport/Transport/bin/Microsoft.Owin.Security.Cookies.xml
Project/Transport/Transport/bin/Microsoft.Owin.Security.Cookies.dll
Project/Transport/Transport/bin/Microsoft.Owin.Host.SystemWeb.xml
Project/Transport/Transport/bin/Microsoft.Owin.Host.SystemWeb.dll
Project/Transport/Transport/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
Project/Transport/Transport/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
Project/Transport/Transport/bin/Microsoft.AspNet.Identity.Owin.xml
Project/Transport/Transport/bin/Microsoft.AspNet.Identity.Owin.dll
Project/Transport/Transport/bin/Microsoft.AspNet.Identity.EntityFramework.xml
Project/Transport/Transport/bin/Microsoft.AspNet.Identity.EntityFramework.dll
Project/Transport/Transport/bin/Microsoft.AspNet.Identity.Core.xml
Project/Transport/Transport/bin/Microsoft.AspNet.Identity.Core.dll
Project/Transport/Transport/bin/Microsoft.ApplicationInsights.xml
Project/Transport/Transport/bin/Microsoft.ApplicationInsights.dll
Project/Transport/Transport/bin/Microsoft.AI.WindowsServer.xml
Project/Transport/Transport/bin/Microsoft.AI.WindowsServer.dll
Project/Transport/Transport/bin/Microsoft.AI.Web.xml
Project/Transport/Transport/bin/Microsoft.AI.Web.dll
Project/Transport/Transport/bin/Microsoft.AI.ServerTelemetryChannel.xml
Project/Transport/Transport/bin/Microsoft.AI.ServerTelemetryChannel.dll
Project/Transport/Transport/bin/Microsoft.AI.PerfCounterCollector.dll
Project/Transport/Transport/bin/Microsoft.AI.DependencyCollector.xml
Project/Transport/Transport/bin/Microsoft.AI.DependencyCollector.dll
Project/Transport/Transport/bin/Microsoft.AI.Agent.Intercept.dll
Project/Transport/Transport/bin/EntityFramework.xml
Project/Transport/Transport/bin/EntityFramework.dll
Project/Transport/Transport/bin/EntityFramework.SqlServer.xml
Project/Transport/Transport/bin/EntityFramework.SqlServer.dll
Project/Transport/Transport/bin/ApplicationInsights.config
Project/Transport/Transport/bin/Antlr3.Runtime.pdb
Project/Transport/Transport/bin/Antlr3.Runtime.dll
Project/Transport/Transport/obj/Debug/edmxResourcesToEmbed/DataModel/TransportEntities.ssdl
Project/Transport/Transport/obj/Debug/edmxResourcesToEmbed/DataModel/TransportEntities.msl
Project/Transport/Transport/obj/Debug/edmxResourcesToEmbed/DataModel/TransportEntities.csdl
Project/Transport/Transport/obj/Debug/TempPE/DataModel.TransportEntities.cs.dll
Project/Transport/Transport/obj/Debug/TempPE/DataModel.TransportEntities.Designer.cs.dll
Project/Transport/Transport/obj/Debug/TempPE/DataModel.TransportEntities.Context.cs.dll
Project/Transport/Transport.Tests/obj/Debug/Transport.Tests.csprojResolveAssemblyReference.cache
Project/Transport/Transport.Tests/obj/Debug/Transport.Tests.csproj.FileListAbsolute.txt
